.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.paralax{
  width: 100%;
  height: 500px;
  background-image: url(art-Av.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 1.1;
} 

/*nav menu*/

nav{
  background-color: rgb(19, 19, 19);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  row-gap: 10px;
  flex-wrap: wrap;
  column-gap: 10px;
}

.link{
  padding: 10px 20px;
  text-decoration: none;
  color:white;
  text-transform: uppercase;
  font-size: 15px;
}

.link--active{
    position: relative;
}


@media(max-width:900px){
  nav{
    padding: 10px;
  }
  .link{
    padding: 10px 10px;
    text-decoration: none;
    color:white;
    text-transform: uppercase;
    font-size: 13px;
  }


  .paralax {
    width: 100%;
    height: 320px;
    object-fit: cover;
  }
}






